@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode scrollbar styles for .scrollbar-hover */
.light-mode .scrollbar-hover::-webkit-scrollbar {
  height: 10px;
  background: #f1f1f1;
}
.light-mode .scrollbar-hover::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  transition: background 0.3s;
}
.light-mode .scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background: #999;
}

/* Dark mode scrollbar styles for .scrollbar-hover */
.dark-mode .scrollbar-hover::-webkit-scrollbar {
  height: 10px;
  background: #cecdcd;
}
.dark-mode .scrollbar-hover::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  transition: background 0.3s;
}
.dark-mode .scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background: #444;
}

/* Firefox support */
.scrollbar-hover {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;
}
.scrollbar-hover:hover {
  scrollbar-color: #999 #f1f1f1; /* light mode colors by default */
}
.dark-mode .scrollbar-hover:hover {
  scrollbar-color: #555 #cecdcd;
}